@import 'index.css';

body {
  background-color: var(--primary);
  height: 100vh;
  justify-content: center;
}

input {
  height: 5vh;
  width: 75%;
  background: var(--tertiary);
  outline: none;
  color: var(--text);
  font-size: 15px;
  border: 0px;
  border-radius: 0.5em;
  padding: 2.5%;
  margin-top: 2.5%;
}

input:hover {
  transition: 250ms;
  font-weight: bold;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hidden {
  display: none;
}

.access-container {
  width: 50%;
  height: fit-content;
  background: var(--background);
  border: 0px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.access-header {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 5%;
  margin-top: 2.5%;
  position: relative;
  display: inline-block;
}

.access-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 15%;
  background-color: var(--primary);
  border-radius: 5px;
}

.submit-form {
  width: 35%;
  color: var(--background);
  background: var(--primary);
  font-weight: 700;
  font-size: 1.25em;
  margin: 5% 0%;
  height: fit-content;
  opacity: 0.4;
}

.submit-form:hover {
  transition: 250ms;
  cursor: not-allowed;
  transform: scale(1.1);
}

#confirm-info {
  margin-top: 10px;
}

#pw-info {
  margin-top: 10px;
}

.access-info {
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: var(--text);
  margin-bottom: 5%;
}

.access-info:hover {
  transition: 500ms ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

.info-container {
  display: flex;
  width: 100%;
}