:root {
  --background: #ffffff;
  --background-2: #e8eaed;
  --background-3: #f7f8f9;
  --text: #202020;
  --text-2: #2a2e34;
  --primary: #348aa7;
  --border-default: #e8eaed;
  --border-low: #f0f1f3;
  --border: #d6d9de;
  --border-hover: #adb3bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #e8eaed;
  padding: 16px;
}

.topbar .page-name button i {
  text-align: center;
  display: inline-block;
  width: 20px;
  margin-right: 4px;
}

.topbar .page-name button {
  color: var(--text-2);
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

.topbar .page-name button:hover {
  cursor: pointer;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-left: 20px;
  width: fit-content;
  margin-top: 20px;
  color: #202020;
}

#deadlines {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#deadlines h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #202020;
}

.deadline-item {
  background-color: var(--background-3) !important;
  padding: 20px;
  border-radius: 8px;
}

.deadline-item * {
  font-family: "Montserrat", sans-serif;
}

.deadline-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-2);
}

.task-date {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #2020209f;
}

.deadline-details-btn {
  outline: none;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
  color: #2020209f;
  cursor: pointer;
}

.progress-bar {
  margin-top: 20px;
  width: 100%;
  height: 18px;
  background-color: var(--background-2);
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.progress-child {
  height: 12px;
  background-color: var(--border-hover);
  border-radius: 9999px;
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #202020a6;
  z-index: 9990;
}

#popup {
  scale: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9999;
  background-color: #fcfcfc;
  width: 70%;
  min-height: 600px;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  transition: all 200ms ease;
}

#popup * {
  font-family: "Montserrat", sans-serif;
}

#close-popup {
  text-align: end;
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#close-popup .close-popup {
  background-color: #ff605c;
  color: #eeeeee;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup .description {
  margin-top: 20px;
  max-height: 50%;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 20px;
  color: #202020;
  line-height: 1.5;
  font-size: 16px;
}

.deadline-details-popup {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000090;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deadline-details-content {
  background-color: var(--background);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80vw;
}

#deadline-details-actions {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.deadline-details-delete {
  margin-top: 8px;
  width: 50%;
  padding: 8px 12px;
  padding-right: 5px;
  color: #ef473a;
  background-color: #ef473a20;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.deadline-details-complete {
  margin-top: 8px;
  width: 50%;
  padding: 8px 12px;
  color: #3aef4f;
  background-color: #3aef5820;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

#deadline-details-close {
  width: 15px;
  height: 15px;
  font-size: 10px;
  background-color: #ef473a;
  color: var(--background);
  border-radius: 9999px;
  border: none;
  outline: none;
  cursor: pointer;
}

#deadline-details-content p {
  color: #2020209f;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
}

.hide {
  display: none;
}

#deadline-details-content p:last-child {
  margin-bottom: 20px;
}

.contributors-text {
  justify-self: center;
  position: relative;
  /* left: 80%; */
  width: 20%;
}

#deadline-details-contributors {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#deadline-details-contributors a {
  font-size: 10px;
  padding: 1%;
  margin: 0% 1%;
  border: 0;
  border-radius: 5px;
  background-color:#d6d9de;
}

#deadline::after, #description::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #adb3bd;
}