@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
}

:root {
  --text: #000000;
  --primary: #1e1c1c;
  --secondary: #348aa7;
  --background: #e8e5e5;
  --tertiary: #f4f4f4;
  --quaternary: #cacaca;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

i {
  font-size: 30px;
  color: var(--secondary);
  background-color: var(--primary);
}

input {
  width: 75%;
}

span {
  font-size: 2.5em;
  transition: color 1000ms ease-out;
}

span:hover {
  color: var(--secondary);
  cursor: default;
  transition: color;
}

button:hover,
#about a:hover {
  transition: 250ms ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

/* HEADER CSS */

#header {
  z-index: 1;
  position: fixed;
  top: 2.5%;
  color: var(--text);
  width: 98vw;
  height: 10vh;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px var(--primary);
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: 0.9;
  z-index: -1;
  border-radius: inherit;
}

#logo-container {
  width: 7.5vh;
  height: 7.5vh;
  position: absolute;
  left: 5%;
  background-image: url(../contents/imgs/logo.png);
  background-size: cover; 
}

#header-wrapper {
  width: 75%;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}

#header a {
  color: var(--text);
  display: flex;
  text-decoration: none;
}

#header a:hover {
  transition: 250ms;
  font-weight: bold;
  cursor: pointer;
}

#header button {
  border: 0cm;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--background);
  width: 7.5vw;
  height: 5vh;
}

#button-wrapper {
  position: absolute;
  right: 2.5%;
  min-width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* INTRO CSS */

#intro {
  background-image: url(../contents/imgs/intro.avif);
  background-size: cover;
  background-position: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.darken-background {
  filter: grayscale(100%);
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, var(--text) 0%, transparent 100%);
}

#company-name {
  z-index: 3;
  color: var(--background);
  cursor: default;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

/* FEATURES CSS */

#features {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

#features h1 {
  padding-top: 10vh;
  padding-left: 15%;
  font-size: 2.5em;
  font-weight: 700;
  background-color: var(--background);
}

.features-container {
  margin-top: 10vh;
  width: 100%;
  display: block;
  color: var(--background);
}

.features-wrapper {
  margin-left: 20px;
}

.task-management,
.deadline-tracker,
.file-sharing {
  text-align: start;
  min-width: 60%;
  width: fit-content;
  margin-left: 15%;
  background-color: var(--secondary);
  margin-bottom: 5vh;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  display: flex;
}

.features-container h2 {
  font-size: 1em;
}

.features-container i {
  background-color: var(--secondary);
  color: var(--background);
}

/* ABOUT CSS */

#about {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.about-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

#about a {
  background-color: var(--secondary);
  width: fit-content;
  padding: 10px 15px;
  border: 0px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--tertiary);
}

.about-image {
  flex-basis: 100%;
  padding: 2em;
  border-radius: 20px;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-text {
  flex-basis: 50%;
  padding: 6rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(50px);
}

.about-text h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--tertiary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-text p {
  margin-bottom: 2rem;
  line-height: 1.6;
  color: var(--tertiary);
}

/* CONTACT CSS */

#contact {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-heading {
  font-size: 2.5em;
  font-weight: 700;
  top: 20vh;
}

#contact-container {
  width: 75%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#message-input {
  width: 100%;
  max-width: 100%;
  margin-top: 2%;
  height: 30vh;
  max-height: 50vh;
  font-size: 20px;
  padding: 8px 0px;
  border: 1px solid var(--text);
  border-radius: 30px;
}

#message-input::placeholder {
  padding: 0px 12px;
}

#name-input,
#email-input {
  font-size: 20px;
  padding: 8px 12px;
  border: 1px solid var(--text);
  border-radius: 30px;
}

#email-input {
  display: flex;
  justify-self: flex-end;
}

#submit-button {
  margin-top: 2.5vh;
  background-color: var(--secondary);
  color: var(--background);
  font-size: 20px;
  border-radius: 60px;
  width: auto;
  padding: 8px 12px;
}

#footer {
  width: 100%;
  background-color: var(--primary);
  color: var(--tertiary);
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 20px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}

#footer a {
  padding: 10px 20px;
  color: var(--tertiary);
  text-decoration: none;
}

#footer p {
  font-size: 14px;
  margin-top: 20px;
}
