:root {
  --background: #ffffff;
  --background-2: #e8eaed;
  --background-3: #f7f8f9;
  --text: #202020;
  --text-2: #2a2e34;
  --primary: #348aa7;
  --border-default: #e8eaed;
  --border-low: #f0f1f3;
  --border: #d6d9de;
  --border-hover: #adb3bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #e8eaed;
  padding: 16px;
}

.topbar .page-name button i {
  text-align: center;
  display: inline-block;
  width: 20px;
  margin-right: 4px;
}

.topbar .page-name button {
  color: var(--text-2);
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

.topbar .page-name button:hover {
  cursor: pointer;
}

#projects {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#projects h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #202020;
}

.project-item {
  background-color: var(--background-3) !important;
  padding: 20px;
  border-radius: 8px;
}

.project-item * {
  font-family: "Montserrat", sans-serif;
}

.project-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-2);
}

.project-contributors {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #2020209f;
}

.progress-text {
  color: #2020209f;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
}

.progress-bar {
  width: 100%;
  height: 18px;
  background-color: var(--background-2);
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.progress-child {
  height: 12px;
  background-color: var(--border-hover);
  border-radius: 9999px;
}

.project-btn {
  outline: none;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
  color: #2020209f;
  cursor: pointer;
}

.project-details-popup {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000090;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-details-content {
  background-color: var(--background);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80vw;
}

#project-details-actions {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.project-details-delete {
  margin-top: 8px;
  width: 100%;
  padding: 8px 12px;
  color: #ef473a;
  background-color: #ef473a20;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

#project-details-close {
  width: 15px;
  height: 15px;
  font-size: 10px;
  background-color: #ef473a;
  color: var(--background);
  border-radius: 9999px;
  border: none;
  outline: none;
  cursor: pointer;
}

#project-details-content p {
  color: #2020209f;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
}

.hide {
  display: none;
}

#project-details-content p:last-child {
  margin-top: 20px;
}

.contributors-text {
  position: relative;
  left: 80%;
  width: 20%;
}

#project-details-contributors {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px 0;
}

#project-details-contributors a {
  font-size: 10px;
  padding: 1%;
  margin: 0% 1%;
  border: 0;
  border-radius: 5px;
  background-color:#d6d9de;
}

#admin::after, #project-details-wrapper .progress-text::after, #own-tasks::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #adb3bd;
}
