:root {
  --background: #ffffff;
  --background-2: #e8eaed;
  --background-3: #f7f8f9;
  --text: #202020;
  --text-2: #2a2e34;
  --primary: #348aa7;
  --border-default: #e8eaed;
  --border-low: #f0f1f3;
  --border: #d6d9de;
  --border-hover: #adb3bd;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background);
}

.topbar {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #e8eaed;
  padding: 16px;
}

.topbar .page-name p i {
  text-align: center;
  display: inline-block;
  width: 20px;
  margin-right: 4px;
}

.topbar .page-name p {
  color: var(--text-2);
  font-weight: 500;
  font-size: 14px;
}

.dashboard {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.widget {
  min-width: 30%;
  min-height: 320px;
  border: 1px solid var(--border-low);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 8px var(--background-3);
  transition: all 200ms ease;
}

.widget:hover {
  border-color: var(--border-default);
}

.widget-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.widget-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-2);
}

.widget-settings {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-2);
}

.widget-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.widget-content h4 {
  font-size: 44px;
  font-weight: bold;
}
