/* @import 'index.css'; */

:root {
  --background: #ffffff;
  --background-2: #e8eaed;
  --background-3: #f7f8f9;
  --text: #202020;
  --text-2: #2a2e34;
  --primary: #348aa7;
  --border-default: #e8eaed;
  --border-low: #f0f1f3;
  --border: #d6d9de;
  --border-hover: #adb3bd;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* 
*::-webkit-scrollbar {
  display: none;
} */

.topbar {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #e8eaed;
  padding: 16px;
}

.topbar .page-name p i {
  text-align: center;
  display: inline-block;
  width: 20px;
  margin-right: 4px;
}

.topbar .page-name p {
  color: var(--text-2);
  font-weight: 500;
  font-size: 14px;
}

.dashboard {
  width: 100%;
  height: calc(100vh - 60px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
}

.container .column {
  width: 24%;
  min-height: 600px;
  border: 1px solid var(--border-low);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px var(--background-3);
  gap: 20px;
  margin-bottom: 20px;
}

.column .title {
  margin-left: 10px;
  color: var(--text-2);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.task {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--background-3);
  box-shadow: 0 2px 4px #00000014;
  border: 1px solid var(--border-low);
  transition: all 150ms ease-out;
}

.task:hover {
  box-shadow: 0 2px 4px #00000024;
  border: 1px solid var(--border-hover);
}

.task-nav {
  width: 100%;
  justify-content: space-between;
  align-items: start;
  display: flex;
  flex-wrap: nowrap;
}

.task-settings {
  margin-left: 20px;
}

.task .task-title {
  color: var(--text-2);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.task .additional-details {
  color: var(--text-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.task .additional-details p {
  margin-top: 12px;
}

.task-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-tag {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
}

.green {
  color: #8bc34a;
  background-color: #8bc34a20;
}

.red {
  color: #ef473a;
  background-color: #ef473a20;
}

.yellow {
  color: #f39c12;
  background-color: #f39c1220;
}

.blue {
  color: #12a4f3;
  background-color: #12a4f320;
}

.purple {
  color: #5a189a;
  background-color: #5a189a20;
}

.task-date {
  color: #868c97;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.expand-details-btn {
  width: 100%;
}

footer {
  height: 60px;
  width: 100vw;
  position: fixed;
  left: -20px;
  bottom: 0px;
  background-color: var(--background);
  border-top: 1px solid var(--border-default);
}

/*  */
/*  */
/*  */
/*  */

input {
  height: 48px;
  width: 75%;
  background: var(--background-3);
  outline: none;
  color: var(--text);
  font-size: 15px;
  border: 0px;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid transparent;
  transition: all 250ms ease;
}

input:hover,
input:focus {
  border: 1px solid var(--border-hover);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

textarea {
  height: 30vh;
  width: 75%;
  background: var(--background-3);
  outline: none;
  color: var(--text);
  font-size: 15px;
  border: 0px;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid transparent;
  transition: all 250ms ease;
  resize: none;
}

textarea:hover,
textarea:focus {
  border: 1px solid var(--border-hover);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-nav {
  color: var(--background);

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide {
  display: none !important;
}

header {
  background-color: var(--primary);

  li {
    padding: 15px;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 100%;
    }

    &:nth-child(1) {
      &:after {
        background: #ef473a;
      }
    }

    &:nth-child(2) {
      &:after {
        background: #f39c12;
      }
    }

    &:nth-child(3) {
      &:after {
        background: #00bcd4;
      }
    }

    &:nth-child(4) {
      &:after {
        background: #8bc34a;
      }
    }
  }
}

.content {
  overflow: hidden;
}

.card {
  background-color: var(--secondary);
  min-height: 50px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  height: 40px;
  z-index: 2;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
  }

  p:before,
  h5:after {
    .backlog & {
      color: #ef473a;
    }

    .todo & {
      color: #f39c12;
    }

    .in-progress & {
      color: #00bcd4;
    }

    .done & {
      color: #8bc34a;
    }
  }

  h5 {
    font-size: 13px;
    line-height: 50px;
    padding-left: 10px;
    font-weight: 300;
  }

  &.edit-mode {
    h5 {
      position: relative;

      &:after {
        top: 50%;
        margin-left: 5px;
        margin-top: 1px;
        transform: translateY(-50%);
        position: absolute;
        font-size: 9px;
        content: "Edit";
      }
    }
  }

  .backlog & {
    &:before {
      background: #ef473a;
    }
  }

  .todo & {
    &:before {
      background: #f39c12;
    }
  }

  .in-progress & {
    &:before {
      background: #00bcd4;
    }
  }

  .done & {
    &:before {
      background: #8bc34a;
    }
  }

  &.expanded {
    overflow: auto !important;
    height: auto !important;
  }
}

.card-content {
  padding: 10px;
  font-size: 12px;
  word-wrap: break-word;
  padding-top: 0;

  p {
    margin-bottom: 10px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
    }

    &:nth-child(1) {
      padding-left: 70px;

      &:before {
        content: "Deadline: ";
      }
    }

    &:nth-child(2) {
      padding-left: 67px;

      &:before {
        content: "Description: ";
      }
    }

    &:nth-child(3) {
      padding-left: 70px;

      &:before {
        content: "Assigned to: ";
      }
    }
  }

  a {
    border-bottom: 1px dotted var(--primary);

    &:hover {
      border-bottom-style: solid;
    }
  }
}

.dragged-over {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes rotate180 {
  to {
    transform: rotate(180deg);
  }
}

.expand-card {
  height: 19px;
  width: 19px;
  background-size: auto 100%;
  display: inline-block;
  position: absolute;
  top: 25px;
  cursor: pointer;
  transform: translateY(-50%);
  right: 15px;
  padding: 3px;

  .backlog & {
    color: #ef473a;
  }

  .todo & {
    color: #f39c12;
  }

  .in-progress & {
    color: #00bcd4;
  }

  .done & {
    color: #8bc34a;
  }
}

.add-task {
  z-index: 1;
  border-radius: 50%;

  img {
    width: 30px;
    display: block;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    img {
      animation: rotate180 0.2s linear;
    }
  }
}

.remove {
  display: block;
  background-color: #ef473a;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
  transition: all 300ms ease-out;
  cursor: default;

  img {
    width: 16px;
  }

  &.dragged-over {
    width: 250px;
    border-radius: 3px;
  }
}

[data-tooltip] {
  position: relative;

  &:before {
    display: none;
    content: attr(data-tooltip);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 50%;
    transform: translateY(-130%) translateX(-50%);
  }

  &:hover {
    &:before {
      display: block;
    }
  }
}

.controls {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  li {
    float: left;
    margin-right: 20px;
  }
}

.branding,
.create-task-branding {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;

  sup {
    position: absolute;
    font-size: 9px;
    margin-top: -6px;
    margin-left: -3px;
  }

  span {
    color: rgba(255, 255, 255, 0.6);
  }
}

.create-task-branding {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 300px;
}

.onboard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.onboard-modal {
  height: 300px;
  width: 450px;
  background-color: var(--background);
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000094;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: var(--background);
  border-radius: 12px;
  border: 0px;
  width: 50%;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease-in-out;
  align-items: center;
  flex-direction: column;
}

.modal-content h2 {
  margin-top: 0;
  color: var(--text);
}

.modal-content .close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
}

.modal-content .close-modal:hover {
  color: var(--quaternary);
}

.modal-content .add-task-form {
  max-height: 80%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .modal-content {
    width: 70%;
  }
}

#add-task-btn {
  width: 35%;
  color: var(--background);
  background: var(--primary);
  font-weight: 700;
  font-size: 1.25em;
  margin: 5% 0%;
  height: fit-content;
  opacity: 0.4;
}

#add-task-btn:hover {
  transition: 250ms;
  cursor: pointer;
  transform: scale(1.1);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 5px;
  padding: 12px;
  overflow: scroll;
}
/* 
.task {
  background: var(--background);
  color: var(--text);
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: grab;
} */

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
  cursor: grabbing;
}

.additional-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: relative;
}

.additional-details.expanded {
  max-height: 100%;
  transition: max-height 0.2s ease-in;
}
.expand-details-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.expand-details-btn i {
  font-size: 20px;
  color: #000;
}
#modify-task-form-container {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

#modify-task-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#modify-task-form input[type="text"],
#modify-task-form input[type="date"],
#modify-task-form textarea {
  width: calc(100% - 20px); /* Adjusting for padding */
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#modify-task-form textarea {
  height: 100px; /* Adjust as needed */
}

#modify-task-form button[type="submit"] {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#modify-task-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.hide {
  display: none;
}
