:root {
  --background: #ffffff;
  --background-2: #e8eaed;
  --background-3: #f7f8f9;
  --text: #202020;
  --text-2: #2a2e34;
  --primary: #348aa7;
  --border-default: #e8eaed;
  --border-low: #f0f1f3;
  --border: #d6d9de;
  --border-hover: #adb3bd;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #202020;
  color: var(--background);
}

.dashboard {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 254px;
  background-color: #f7f8f9;
  border-right: #e8eaed 1px solid;
}

.project-selector {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0px !important;
  border-bottom: 1px solid var(--border) !important;
  border-radius: 0 !important;
  padding: 8px;
}

#projects p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}

#project-home {
  margin-top: 8px;
}

.sidebar > div {
  width: calc(100% - 16px);
  color: rgb(42, 46, 52);
  display: block;
  align-items: center;
  border: 0;
  border-radius: 2.5%;
  margin-bottom: 2px;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.highlight {
  background-color: #f82884;
  color: #fff;
  padding: 1px 8px;
  border-radius: 9999px;
  text-align: center;
  font-size: 12px;
}

.sidebar-toggle {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 6px;
  transition: all 200ms ease-in;
}

.sidebar-toggle:hover {
  cursor: pointer;
  background-color: #e8eaed;
}

.sidebar-toggle.active {
  cursor: pointer;
  background-color: #c8d1fe;
}

.sidebar-toggle.active p {
  color: #5e6fca;
}

.sidebar-toggle p i {
  text-align: center;
  display: inline-block;
  width: 20px;
  margin-right: 10px;
}

.sidebar-toggle p {
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
}

.sidebar-dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  top: 60px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 8px;
  z-index: 9999;
  overflow: hidden;
  box-shadow: 0 2px 20px #00000054;
}

.sidebar-dropdown-list.active {
  z-index: 9999;
  width: 237px;
  display: block;
  padding: 0;
}

.sidebar-dropdown-list li a {
  padding-left: 20px;
  color: #393939;
  text-decoration: none;
  display: block;
  padding: 16px 24px;
  font-size: 14px;
}

.sidebar-dropdown-list li a::selection {
  color: #393939;
  background-color: transparent;
}

.sidebar-dropdown-list a > i {
  padding-right: 10px;
}

.sidebar-dropdown-list li a:hover {
  background-color: var(--background-2);
}

.main-content {
  border: none;
  flex-grow: 1;
  background-color: transparent;
}

.top-nav img {
  height: 50px;
  width: 50px;
}

a:visited {
  color: var(--text);
}

.content-frame {
  width: 100%;
  height: 100%;
  border: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--background);
  padding: 0 8%;
  box-shadow: var(--shadow);
}

.navbar-logo {
  cursor: pointer;
  margin-right: auto;
}

.navbar-list {
  padding-right: 2rem;
}

.navbar-list li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar-list li a {
  color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 160px;
  border-radius: 50px;
  color: #eeeeee;
  cursor: pointer;
  border: 1px solid #eeeeee;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-img {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background: url(/webpages/src/contents/imgs/about-us.png);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.1rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-btn span i {
  margin-left: 8px;
}

.profile-dropdown-list {
  position: absolute;
  top: 51px;
  width: 200px;
  right: 0%;
  background-color: #202020;
  border-radius: 0 0 8px 8px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
  padding: 0;
}

.profile-dropdown-list.active {
  padding: 20px;
  max-height: 400px;
}

.profile-dropdown-list-item {
  padding: 0.3rem 0.5rem;
  text-align: left;
  transition: background-color 0.3s, padding-left 0.4s;
  list-style-type: none;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #eeeeee;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  height: 2.3rem;
  color: #eeeeee;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.4s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

#project-form {
  display: none;
}

.form-container {
  justify-content: center;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  margin-left: 50%;
  margin-top: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
}

#project-form.active {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  z-index: 3;
  left: 25%;
  top: 25%;
  background-color: var(--quaternary);
  width: 50%;
  height: fit-content;
  border: var(--quinary) 2px solid;
  border-radius: 5px;
}

#project-form h2 {
  position: relative;
  justify-self: center;
  top: -30px;
  font-weight: bold;
  font-size: 25px;
}

#project-form label {
  padding-left: 5%;
  padding-top: 5%;
  font-size: 1em;
}

#project-form input {
  margin-left: 5%;
  width: 90%;
}

#project-form input[type="submit"] {
  margin-bottom: 5%;
}

#emailList {
  margin-bottom: 10px;
}

#emailList span {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
input[type="text"],
input[type="submit"] {
  padding: 8px;
  margin-top: 5px;
}

#create-project-submit-btn {
  position: relative;
  justify-self: center;
  width: 40%;
  margin: 20px 0px 5px 0px;
  font-size: 20px;
  padding: 8px 4px;
  border-radius: 20px;
}

#create-project-submit-btn:hover {
  transition: 250ms;
  cursor: pointer;
  transform: scale(1.05);
}

.close-popup {
  position: absolute;
  justify-self: right;
  margin: 5px 10px 0px 0px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
