@import 'index.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary);
}

input {
  height: 7.5vh;
  width: 100%;
  background: transparent;
  outline: none;
  color: var(--text);
  font-size: 15px;
}

input:hover {
  transition: 250ms;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15.5vh;
  width: 50%;
  background: var(--background);
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 2.5vh;
}

#header-text {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary);
}

.underline {
  width: 15%;
  height: 6px;
  background: var(--text);
  border-radius: 9px;
}

.all-inputs {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: fit-content;
  background: var(--tertiary);
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 2.5vh;
  color: var(--primary);
  font-size: 15px;
  padding-right: 5px;
}

.forgot-password span {
  display: flex;
  justify-content: center;
  color: var(--text);
  cursor: pointer;
  font-size: 15px;
}

.forgot-password span:hover {
  transition: 250ms;
  font-weight: bold;
  cursor: pointer;
}

.temp {
  padding-right: 5px;
}

.submit-container {
  display: flex;
  gap: 5vw;
  margin-top: 5vh;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 7.5vh;
  color: var(--background);
  background: var(--primary);
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover {
  transition: 250ms ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.selected {
  background: var(--tertiary);
  color: var(--primary);
}

.line {
  position: relative;
  height: 1px;
  width: 90%;
  margin: 36px auto;
  background-color: var(--primary);
}

.line::before {
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  color: var(--primary);
  padding: 0 15px;
}