@import 'index.css';

body {
  background-color: var(--primary);
  height: 100vh;
  justify-content: center;
}

input {
  height: 5vh;
  width: 75%;
  background: var(--tertiary);
  outline: none;
  color: var(--text);
  font-size: 15px;
  border: 0px;
  border-radius: 0.5em;
  padding: 0% 2.5%;
  margin: 2.5% 0%;
}

input:hover {
  transition: 250ms;
  font-weight: bold;
  cursor: pointer;
}

.access-container {
  width: 50%;
  height: 50%;
  background: var(--background);
  border: 0px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.access-header {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 10%;
  position: relative;
  display: inline-block;
}

.access-header::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -50%; 
  width: 100%; 
  height: 15%; 
  background-color: var(--primary); 
  border-radius: 5px; 
}

#signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#submit-form {
  width: 35%;
  color: var(--background);
  background: var(--primary);
  font-weight: 700;
  font-size: 1.25em;
  margin: 5% 0%;
}

.access-info {
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: var(--text);
}

.access-info:hover {
  transition: 500ms ease-in-out;
  font-weight: bold;
  cursor: pointer;
}
