@import 'index.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary);
}

input {
  height: 7.5vh;
  width: 100%;
  background: transparent;
  outline: none;
  color: var(--text);
  font-size: 15px;
  
}

input:hover {
  transition: 250ms;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  width: 50%;
  background: var(--background);
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 2.5vh;
}

#header-text {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary);
}

.underline {
  width: 15%;
  height: 6px;
  background: var(--text);
  border-radius: 9px;
}

.all-inputs {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* padding: 10px; */
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: fit-content;
  background: var(--tertiary);
  border-radius: 6px;
  padding: 5px;
  /* margin-bottom: 10px; */
  margin-top: 25px;
}

#info-container {
  margin-top: 5vh;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-evenly;
}

.info {
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.info:hover {
  transition: 500ms ease-in-out;
  font-weight: bold;
  cursor: pointer;
  
}

#submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 7.5vh;
  color: var(--background);
  background: var(--primary);
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  align-self: center;
  margin-top: 5%;
}

#password-error {
  font-size: 12.5px;
  color: red;
  width: 100%;
  text-align: center;
}

.line {
  position: relative;
  height: 1px;
  width: 90%;
  margin: 36px auto;
  background-color: var(--primary);
}

.line::before {
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  color: var(--primary);
  padding: 0 15px;
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}