* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --background: #FCF7F8;
    --text: #000000;
    --primary: #403F4C;
    --secondary: #348AA7;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

i {
    font-size: 30px;
    color: var(--secondary);
    background-color: var(--primary);
}

input {
    width: 75%;
}

#header {
    z-index: 1;
    position: fixed;
    top: 2.5%;
    background-color: var(--background);
    color: var(--text);
    width: 98%;
    height: 12.5vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px var(--primary);
}

#logo-container {
    width: 7.5vh;
    height: 7.5vh;
    background-color: var(--text);
    color: var(--background);
    position: relative;
    right: 17.5%;
}

#header-wrapper {
    min-width: 35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#header a {
    color: var(--text);
    display: flex;
    text-decoration: none;
}

#header a:hover{
    transition: 250ms;
    font-weight:bold;
    cursor: pointer;
}

#header button {
    border: 0cm;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--background);
    width: 7.5vw;
    height: 5vh;
}

button:hover {
    transition: 500ms ease-in;
    transform: scale(1.1);
    cursor: pointer;
} 

#button-wrapper {
    position: relative;
    left: 17.5%;
    min-width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#intro {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

#services {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}

#about {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

#contact {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-heading {
    margin-top: 15vh;
    font-size: 80px;
    font-weight: bold;
    top: 20vh;
}

#contact-container {
    width: 75%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#message-input {
    width: 100%;
    margin-top: 2%;
    height: 30vh;
    font-size: 25px;
    padding: 8px 0px;
    border: 1px solid var(--text);
    border-radius: 30px;
}

#message-input::placeholder {
    padding: 0px 12px;
}

#name-input, #email-input {
    font-size: 25px;
    padding: 8px 12px;
    border: 1px solid var(--text);
    border-radius: 30px;
}

#email-input {
    display: flex;
    justify-self: flex-end;
}

#submit-button {
    margin-top: 2.5vh;
    background-color: var(--primary);
    color: var(--background);
    font-size: 25px;
    border-radius: 60px;
    width: auto;
    padding: 8px 12px;
}

#footer {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
}

.social-icon {
    background-color: var(--primary);
}

.social-icon:hover {
    cursor: pointer;
}
