@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  /* --background: #1e1e1e;
  --container: #ffffff;
  --text: #1e1e1e;
  --primary: #333333;
  --secondary: #6883BA; */
  
  --background: #FCF7F8;
  --text: #000000;
  --primary: #403F4C;
  --secondary: #348AA7;
}

* {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top:50%;
  width: 600px;
  background: var(--background);
  padding-bottom: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary);
}

.underline {
  width: 61px;
  height: 6px;
  background: var(--text);
  border-radius: 9px;
}

.all_inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

input:hover {
  transition: 250ms;
  font-weight:bold;
  cursor: pointer;
}

.input input {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot_password {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot_password span {
  display: flex;
  justify-content: center;
  color: var(--text);
  cursor: pointer;
}

.forgot_password span:hover {
  transition: 250ms;
  font-weight:bold;
  cursor: pointer;
}

.submit_container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #FFF;
  background: var(--primary);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover {
  transition: 250ms ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}

.googleSignin a{
  display: flex;
  align-items: center;
  justify-content: center;
}

img.google-img{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img{
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google{
  border: 1px solid #CACACA;
}
a.google span{
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

