@import 'index.css';    

/* .container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
} */

.container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    /* margin: 10px;
    padding: 10px; */
    /* background-color: var(--tertiary);
    width: 100%; */ 
    /* height: 100%; */
}

.scrum-board {
    flex: 1;
    padding: 20px;
    /* padding: 100px; */
    /* padding: 100%; */
    /* margin-bottom: 50%;     */
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    
}

/* #backlog-content {
    display: flex;
    flex-direction: row;
}

#toDo-content {
    display: flex;
    flex-direction: row;
}

#inProgress-content {
    display: flex;
    flex-direction: row;
}

#done-content {
    display: flex;
    flex-direction: row;
} */


/* .backlog-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary);
}

.toDo-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary);
}

.inProgress-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary);
}

.done-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary);
}
 */
