body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

.menu-items a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.dashboard {
    display: flex;
    flex: 1;
}

.sidebar {
    flex-basis: 20%;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.main-content {
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
}

.section {
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

