/* Reset and base styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
}

/* Wrapper for the entire layout */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #007bff; /* Blue background */
    color: #ffffff;
    border-bottom: 10px solid #007bff; /* Matching border */
}


.logo {
    font-size: 24px;
}

.menu-items a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.menu-items a:hover {
    background-color: #0056b3;
}

.dashboard {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #233348;
    color: #ffffff;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.section:hover {
    transform: scale(0.93);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.add-note {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-note:hover {
    background-color: #218838;
}
